body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select.form-control {
    width: 100%;
}
.green-button {
    background-color: green;
    color: white; /* Optionally, change the text color to white for better visibility */
    border: none; /* Optionally, remove the border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optionally, add rounded corners */
}


button.btn-primary {
    display: block;
    margin: 0 auto;
}

#expenseList {
    margin-top: 20px;
}