

h1 {
    color: #000;
    cursor: pointer;
    background-color: #f4f409;
    height: 85px;
    position: relative;
    bottom: 106px;
    width: 105%;
    right: 19px;
    top: -59px;
    text-align: center;
    padding: 38px;
    font-size: 53px;
}
body{
    background-color: #f4f409;

}

label{
    color:red;
    font-size: 30px;
    font-style: oblique;
}
.btn1{
    background-color: #10110f;
    color: red;
    padding: 11px 20px;
    margin: 5px;
    border-radius: 10px;

}
.card{
    color:red;
    line-height: 13px;
}
.btn2{
    position: relative;
    bottom: 20px;
    color: red;
    padding: 11px 20px;
    margin: 5px;
    border-radius: 10px;
    background-color: #000;
    font-weight: 100px;

}
input{
    width: 300px;
    height: 30px;
}
.headtext{
    background-color: rgb(44, 198, 218);
    height: 119px;
    
    width: 100%;
}
.mt-4{
    color: #000000;
    font-size: 25px;
}
