

h1 {
    color: #000;
    cursor: pointer;
    background-color: #f4f409;
    height: 85px;
    position: relative;
    bottom: 106px;
    width: 105%;
    right: 19px;
    top: -59px;
    text-align: center;
    padding: 38px;
    font-size: 53px;
}
button{
    color: red;
    background-color: #000000;
    padding: 8px;
    margin: 10px;
    margin-left: 55px;
    padding-left: 54px;
    border-radius: 19px;
    /* text-align: center; */
    /* font-size: 14px;*/}
body{
    background-color: #f4f409;

}

label{
    color:red;
    font-size: 30px;
    font-style: oblique;
}
.btn1{
    background-color: #10110f;
    color: red;
    padding: 11px 20px;
    margin: 5px;
    border-radius: 10px;

}
.card{
    color: #f91625;
    line-height: 2px;
    font-size: 18px;
    background-color: #10110f;

}
.btn2{
    position: relative;
    bottom: 1px;
    color: red;
    padding: 4px 2px;
    margin: 5px;
    border-radius: 10px;
    background-color: #000;
    font-weight: 100px;

}
#message{
    color: #f4f409;
    position: relative;
    left: 6px;
    bottom: -24px;
}
input{
    width: 300px;
    height: 30px;
}
.headtext{
    background-color: rgb(44, 198, 218);
    height: 119px;
    
    width: 100%;
}
.mt-4{
    color: #000000;
    font-size: 25px;
}
